<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
 package="com.webkey" android:versionName="2.06" android:versionCode="319"
 android:installLocation="auto">
 <supports-screens android:smallScreens="true"
  android:normalScreens="true" android:largeScreens="true"
  android:anyDensity="true" android:xlargeScreens="true" />
 <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="19"/>
 <uses-feature android:name="android.hardware.screen.portrait" android:required="false" />
 <uses-feature android:name="android.hardware.telephony"
  android:required="false" />

 <application android:icon="@drawable/icon" android:label="@string/app_name"
  android:name=".ScriptApplication">
  <service android:enabled="true" android:name=".ScriptService" />
  <activity android:name=".Webkey" android:launchMode="singleInstance"
   android:label="@string/app_name">
   <intent-filter>
    <action android:name="android.intent.action.MAIN" />
    <category android:name="android.intent.category.LAUNCHER" />
   </intent-filter>
  </activity>
  <activity android:configChanges="keyboardHidden|orientation"
   android:name="com.googlecode.android_scripting.activity.FutureActivity"
   android:theme="@android:style/Theme.Translucent" />

  <activity android:name=".activity.WebkeyTab"
   android:launchMode="singleInstance" android:label="@string/app_name">
   <intent-filter>
    <action android:name="android.intent.action.MAIN" />
   </intent-filter>
  </activity>

  <activity android:name=".activity.SettingsTab"
   android:launchMode="singleInstance" android:label="@string/app_name">
   <intent-filter>
    <action android:name="android.intent.action.MAIN" />
   </intent-filter>
  </activity>

  <activity android:name=".PreparePermissions"
   android:configChanges="orientation" android:launchMode="singleInstance"
   android:label="@string/app_name">
   <intent-filter>
    <action android:name="android.intent.action.MAIN" />
   </intent-filter>
  </activity>

  <activity android:name=".ManageUsers" android:configChanges="orientation"
   android:launchMode="singleInstance" android:label="@string/app_name">
   <intent-filter>
    <action android:name="android.intent.action.MAIN" />
   </intent-filter>
  </activity>

  <activity android:name=".DynDnsSettings" android:label="@string/app_name"
   android:launchMode="singleInstance" />


  <activity android:name=".activity.LogView"
   android:launchMode="singleInstance" android:label="@string/app_name" />

  <receiver android:name=".receivers.RemoteRegistrationReceiver">
   <intent-filter>
    <action android:name="webkey.intent.action.remote.registration" />
   </intent-filter>
  </receiver>


  <receiver android:name="BootRinstall"
   android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
   <intent-filter>
    <action android:name="android.intent.action.BOOT_COMPLETED" />
   </intent-filter>
  </receiver>

  <receiver android:name=".GPS">
   <intent-filter>
    <action android:name="webkey.intent.action.GPS.START" />
    <action android:name="webkey.intent.action.GPS.STOP" />
   </intent-filter>
  </receiver>

  <receiver android:name=".SL4A">
   <intent-filter>
    <action android:name="webkey.intent.action.SL4A.START" />
   </intent-filter>
  </receiver>

  <receiver android:name=".SMS">
   <intent-filter>
    <action android:name="webkey.intent.action.SMS.SEND" />
   </intent-filter>
  </receiver>

  <receiver android:name=".Widget" android:label="@string/app_name">
   <intent-filter>
    <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
   </intent-filter>
   <meta-data android:name="android.appwidget.provider"
    android:resource="@xml/watch_widget_provider" />
  </receiver>

  <receiver android:enabled="true" android:name=".NetTest">
   <intent-filter>
    <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
    <category android:name="android.intent.category.DEFAULT" />
   </intent-filter>
  </receiver>
 </application>

 <uses-permission android:name="android.permission.INTERNET" />
 <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest> 
